<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
               [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
               [mode]="(isHandset$ | async) ? 'over' : 'side'"
               [opened]="(isHandset$ | async) === false">
    <mat-toolbar >CATEGORY</mat-toolbar>
    <mat-nav-list *ngFor="let category of categories | async">
      <a  class="categoryItem" mat-list-item>{{ category.title }}</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary" fxLayout="row" fxLayoutAlign="space-between centre">
      <div>
        <button
          type="button"
          aria-label="Toggle sidenav"
          mat-icon-button
          (click)="drawer.toggle()"
          *ngIf="isHandset$ | async">
          <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
          <div></div>
        </button>
        <a routerLink="/">LALAFO</a>
      </div>
      <nav *ngIf="!(user | async) else userMenu">
        <a mat-button routerLink="/register">REGISTER</a>
        <a mat-button routerLink="/login">SIGN IN</a>
      </nav>
    </mat-toolbar>
    <div class="content">
      <ng-content></ng-content>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>

<ng-template #userMenu>
  <nav>
    <button mat-icon-button [matMenuTriggerFor]="menu" >
      <mat-icon>account_circle</mat-icon>
    </button>
    <mat-menu #menu=matMenu>
      <mat-card-title>Hello! {{ newUser?.name }}</mat-card-title>
      <a mat-menu-item routerLink="/new">ADD NEW PRODUCT</a>
      <button mat-menu-item (click)="logout()">LOGOUT</button>
    </mat-menu>
  </nav>
</ng-template>

