<div fxLayout="row" fxLayoutAlign="space-between flex-start">
  <h1>Product</h1>
</div>

<div class="error" *ngIf="error | async"> {{error | async}}</div>
<mat-progress-spinner *ngIf="loading | async else postsArea" mode="indeterminate"></mat-progress-spinner>
<ng-template #postsArea>

  <div fxLayout="column" fxLayoutGap="16px grid" *ngIf="user | async">
    <div fxFlex.xs="100%" fxFlex.sm="50%" fxFlex.lt-lg="33%" fxFlex="25%">
      <mat-card class="card">
        <mat-card-title-group>
          <img mat-card-sm-image
               [src]="thisProduct.image | image"
               [alt]="'Photo of' + thisProduct?.title"/>

          <mat-card-title>Name of product:{{ thisProduct?.title }}</mat-card-title>
          <mat-card-title style="padding: 5px">Description of product:{{ thisProduct?.description }}</mat-card-title>

          <mat-card-subtitle><strong>Price of product:</strong> {{ thisProduct?.price }}</mat-card-subtitle>
          <mat-card-subtitle><strong>Category of product:</strong> {{ thisCategory?.title }}</mat-card-subtitle>
          <mat-card-subtitle *ngIf="user | async"><strong>Phone of user:</strong> {{ newUser?.name }}</mat-card-subtitle>
          <mat-card-subtitle><strong>Phone of user:</strong>{{ newUser?.phone }}</mat-card-subtitle>

        </mat-card-title-group>
        <div>
          <button
            type="button"
            (click)="deleteProduct(thisProduct._id)"
            mat-raised-button
            color="primary"
            *ngIf="user | async"
          >SOLD
          </button>
        </div>
      </mat-card>
    </div>
  </div>
</ng-template>

