<h1>New product</h1>
<mat-card>
  <mat-card-content>
    <div class="error" *ngIf="error | async">
      {{ error | async }}
    </div>
    <form (ngSubmit)="onSubmit()" #f="ngForm" fxLayout="column">
      <mat-form-field appearance="outline">
        <mat-label>Title</mat-label>
        <input name="title" required matInput ngModel #title="ngModel"/>
        <mat-error
          *ngIf="title.touched && title.hasError('required')"
        >Password is required!
        </mat-error>

      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Price</mat-label>
        <input type="number" required name="price" matInput ngModel #price="ngModel"/>
        <mat-error
          *ngIf="price.touched && price.hasError('required')"
        >Password is required!
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Description</mat-label>
        <textarea
          name="description"
          ngModel
          required
          matInput
          cdkTextareaAutosize
          cdkAutosizeMinRows="3"
          #description="ngModel"
        ></textarea>
        <mat-error
          *ngIf="description.touched && description.hasError('required')"
        >Description is required!
        </mat-error>
      </mat-form-field>


      <mat-form-field appearance="outline">
        <mat-label>Image</mat-label>
        <app-file-input name="image" ngModel #image="ngModel"></app-file-input>
        <mat-error
          *ngIf="image.touched && image.hasError('required')"
        >Image is required!
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline" >
        <mat-label>Category</mat-label>
        <mat-select matNativeControl required name="user" ngModel >
          <ng-container *ngFor="let category of categories | async">
            <mat-option [value]="category._id">{{ category.title }}</mat-option>
          </ng-container>
        </mat-select>
      </mat-form-field>
      <div>
        <button
          type="submit"
          mat-raised-button
          color="primary"
          [disabled]="f.invalid || (loading | async)"
        >SAVE</button>
      </div>
    </form>
  </mat-card-content>
</mat-card>

