<app-center-card title="Register">
  <form
    #f="ngForm"
    fxLayout="column"
    autocomplete="off"
    (ngSubmit)="onSubmit()">
    <mat-form-field appearance="outline">
      <mat-label>Email</mat-label>
      <input
        name="email" required autocomplete="username"
        email matInput ngModel #email="ngModel"
      />
      <mat-error
        *ngIf="email.touched && email.hasError('required')"
      >Email is required!
      </mat-error>
      <mat-error
        *ngIf="email.touched && email.hasError('email')"
      >Enter correct email address!
      </mat-error>
      <mat-error
        *ngIf="email.touched && email.hasError('serverError')"
      >{{ email.getError('serverError')}}</mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Name</mat-label>
      <input
        name="name" required type="text"
        matInput ngModel #name="ngModel" autocomplete="name"
      />
      <mat-error
        *ngIf="name.touched && name.hasError('required')"
      >Username is required!</mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Password</mat-label>
      <input
        type="password" name="password" autocomplete="new-password"
        required matInput ngModel #password="ngModel"/>
      <mat-error
        *ngIf="password.touched && password.hasError('required')"
      >Password is required!
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Phone number</mat-label>
      <input
        type="phone" name="phone" autocomplete="new-phone"
        required matInput ngModel #phone="ngModel"/>
      <mat-error
        *ngIf="phone.touched && phone.hasError('required')"
      >Phone is required!
      </mat-error>
    </mat-form-field>


    <button
      type="submit"
      mat-raised-button
      color="primary"
      [disabled]="f.invalid"
    >REGISTER
    </button>
  </form>
</app-center-card>

